@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');



.mySlides { 
	display: none; 
} 

body { 
	background-color: black; 
	font-family: 'Poppins', sans-serif;
	
	margin: 0;
	
} 


#heading{
	/* #profile{
		display: flex;
		justify-content: center;
		gap: 5rem;
		height: 80vh;
	} */
	flex: 1;
    padding: 20px;
	
	
}
#algorithmDetails {
	
    width: 200px;
    background-color: #333;
    color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	position: absolute;
}



.title{
	margin-top: 0;
    font-size: 3rem;
    text-align: center;
    color: rgb(54, 184, 76);
	margin-bottom: -1rem;

}

.NAME__{
	margin-top: 1;
    font-size: 1.75rem;
    margin-bottom: 0rem;

    color: grey;
	text-align: center;
	font-size: medium;
} 

.data-container { 
	/* width: 600px; 
	height: 384px;
	position: relative;
	margin: 0 auto;
	margin-left: 22vw; 
	 */
	 flex: 1;
	 height: 384px;
	 position: relative;
	 margin-left: 250px;
} 

.bar { 
	width: 28px;
	
	position: absolute; 
	left: 1; 
	bottom: 0; 
	margin-left: 8vh;
	
	/* margin-top: 5vh; */
	background-color: rgb(122, 45, 176);
	
	transition: 0.2s all ease; 
	
} 


.bar__id { 
	position: absolute; 
	top: 30px; 
	width: 100%; 
	text-align: center; 
	
} 
.btn1 { 
	padding: 12px; 
	font-weight: bolder; 
	background-color: black; 
	
	color: grey; 
	font-size: 16px; 
	border: white; 
	/* margin-left: 35vw;  */
	margin-left: 25vw; 
	margin-bottom: 15vh;
	
	text-decoration: underline;
	text-underline-offset: 1vh;
	margin-right: 1vw; 

} 

.btn1:hover{
	cursor: pointer;
	color: rgb(54, 184, 76);
	text-underline-offset: 1.5vh;
	transition: all 200ms ease;
}


.btn2 { 
	
	padding: 12px; 
	font-weight: bolder; 
	background-color: black; 
	border-radius: 10px; 
	color: grey; 
	font-size: 16px; 
	border: white; 
	text-decoration: underline;
	text-underline-offset: 1vh;
	margin-right: 0.9rem;
}

.btn2:hover{
	cursor: pointer;
	
	color: rgb(54, 184, 76);
	text-underline-offset: 1.5vh;
	transition: all 200ms ease;
}

.btn2:active{
	background-color: white;
}

